@model List<TestFormModelBinding.Models.PersonModel>
                                  
<table>
    @for(var idx = 0; idx < Model.Count; idx++)
    {
        <tr>
            <td>
                @Html.HiddenFor(p => Model[idx].Id)
                @Html.CheckBoxFor(p => Model[idx].ShouldBeUpdate)
            </td>
            <td>
                @Html.TextBoxFor(p => Model[idx].Name)
            </td>
            <td>
                @Html.TextBoxFor(p => Model[idx].Id)
            </td>
        </tr>
    }
</table>

