@model TestFormModelBinding.Models.BulkEditViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Start", "Home", FormMethod.Post))  
{  
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Start</button>
    @Html.EditorFor(model => Model.PersonModels, "PersonModels")
}